<footer>
<div class="row expanded">
  <div class="large-6 columns">
    <p>&copy; <span id="copy"></span> Happy Cannabist</p>
  </div>
  <div class="large-6 columns text-right">
    <p class="rss-subscribe text-right">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>
</footer>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
 <script>
       $(document).foundation();
     </script>
     <script>
     var d = new Date();
     var n = d.getFullYear();
document.getElementById("copy").innerHTML = n;
</script>
<script>
vpw = $(window).width();
vph = $(window).height();

$('.full-page').height(vph);
</script>
  </body>
</html>
