<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
		<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
			<!-- Close button -->
			 <button aria-label="Close menu" class="close-button" data-close="" type="button"><span aria-hidden="true">&times;</span></button> <!-- Menu -->
			<ul class="vertical menu">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Reviews</a>
				</li>
			</ul>
		</div>
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
			<!-- Close button -->
			 <button aria-label="Close menu" class="close-button" data-close="" type="button"><span aria-hidden="true">&times;</span></button> <!-- Menu -->
			<ul class="vertical menu">
				<li>
					<a href="/">Home</a>
				</li>
			</ul>
		</div>
		<div class="off-canvas-content" data-off-canvas-content="">
      <div data-sticky-container>
			<div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
				<div class="title-bar-left">
					<button data-open="offCanvasLeft" type="button"><i class="fa fa-pine-tree-box"></i></button> <span class="title-bar-title">HC</span>
				</div>
				<div class="title-bar-right">
					<!--button data-open="offCanvasRight" type="button">
<i class="fa fa-search-btm"></i></button-->
				</div>
			</div>
    </div>
